@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6f2fa;
  --foreground: #7bb2d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7bb2d9;
    --foreground: #e6f2fa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
